<div style="grid-row: 4; grid-template-columns:70px 160px; grid-template-rows: 20px 60px 20px;" id = "area3" class="sidebarItem standardPadding">
    <div style="grid-area: 1 / 1; "  class="textFeild"> 
        <div class="centeredText">Host</div> 
    </div> 

    <div style="grid-area: 2 / 1 / 3 / 3; display: grid; grid-gap: 1px; grid-template-columns: 70px 160px; grid-template-rows: auto auto;">
        
        <div style="grid-area: 1 / 1; "  class="textFeild">  
            <div class="centeredText">IP</div> 
        </div> 
        <div style="grid-area: 1 / 2; "  class="textFeild"> ${IP} </div>

        <div style="grid-area: 2 / 1; "  class="textFeild">  
            <div class="centeredText">Status</div> 
        </div> 
        <div style="grid-area: 2 / 2; "  class="textFeild"> ${status} </div>

    </div>

    <button style="grid-area: 3 / 2;"> Disconnect </button>
</div>