# Latex build fluff
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out

#go
pkg/

# Node stuff
node_modules/

# vscode
.vscode

# Excludes any TLS stuff
# This should be generated upon service creation
service.pem
service.key