# Latex build fluff
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out

#go
pkg/

# Node stuff
node_modules/
node_modules_windows/
node_modules_linux/
Junk/

# vscode
.vscode

# Excludes built files
src/server/server
src/Testing/tester
images/

# Excludes any TLS stuff
# This should be generated upon service creation
ca-cert.pem
ca-cert.srl
ca-key.pem
server-cert.pem
server-key.pem
server-req.pem
