<div style="display: grid; grid-template-columns: 70% 30%; grid-template-rows: 10% 60% 10%; justify-content: space-around; 
align-content: space-around; padding: 15px; height: calc(100% - 30px); width: calc(100% - 30px);">

    <div style="grid-column: 1 / 3; grid-row: 1; " class="emptyBox"> 
        <h3 style="margin: auto auto auto auto; height: max-content; width: max-content;">Host</h1> 
    </div> 

    <div style="grid-column: 1 / 3; grid-row: 2; display: grid; grid-gap: 5px; grid-template-columns: 30% 40% calc(30% - 10px); grid-auto-rows: auto;">
        
        <div style="grid-area: 1 / 1; " class="emptyBox">  
            <div style="margin: auto auto auto auto; height: max-content; width: max-content;">Network</div> 
        </div> 
        <input id="ipHost" type="text" style="grid-area: 1 / 2; " class="emptyBox" value="${ip}"/>
        <input id="portHost" type="text" style="grid-area: 1 / 3; " class="emptyBox" value="${port}" readonly/>
<!--         
        <div style="grid-area: 2 / 1; " class="emptyBox">  
            <div style="margin: auto auto auto auto; height: max-content; width: max-content;"> Status </div> 
        </div> 
        <div type="text" style="grid-area: 2 / 2 / 3 / 4; " class="emptyBox"> 12345678</div>
    -->
    </div>
    
    <button style="grid-column: 2 / 3; grid-row: 3;" onclick="connectToHost()"> Connect </button>
</div>