/*##################################*\
  Utility
\*##################################*/

body{

  user-select: none;

}

.centeredText{

    margin: auto auto auto auto; 
    height: max-content; 
    width: max-content;

}